@if (Session["Email"] == null)
{

    <ul >

        <li>
            @Html.ActionLink("Login", "Login", "Account", null, null)
        </li>
        <li>
            @Html.ActionLink("Register", "Register", "Account", null, null)
        </li>
    </ul>
}
else
{
    <ul>

        <li>
            @Html.ActionLink("Hi"+ Session["Email"], "Index", "Home", null, null)
        </li>
        <li>
            @Html.ActionLink("Logout", "Logout", "Account", null, null)
        </li>
    </ul>

}
